:root {
    font-family: Avenir, Helvetica Neue, Segoe UI, Helvetica, arial, sans-serif;
}

a {
    color: black;
}

.pico-content {
    line-height: 1.2;
}

#background-map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#timeline { 
    display: none;
    height: 120px; 
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

blockquote {
    margin: 1em 0;
    font-style: italic;
}

blockquote cite {
    font-style: normal;
    vertical-align: super;
    font-size: smaller;
}

blockquote cite a:not(:hover) {
    text-decoration: none;
}

form {
    width: 500px;
}

.form-row {
    display: block;
    width: 500px;
    margin-top: 10px;
}

.form-row > label {
    min-width: 150px;
    display: inline-block;
}

.form-row > input, .form-row > select, .form-row > button {
    width: 200px;
    display: inline-block;
    box-sizing: border-box;
}

.failures {
    color: red;
}

ul.failures {
    max-height: 25vh;
    overflow-y: auto;
    border: 1px solid gray;
    padding-top: 1em;
    padding-bottom: 1em;
}

table#tracklist > tbody > tr {
    cursor: pointer;
}

table#tracklist > tbody > tr:hover {
    color: #000;
    background-color: #ddd; 
}

/* Style buttons */
.btn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

.nowrap {
    white-space: nowrap;
}


#legendcontainer {
    position: absolute;
	right: 10px;
    bottom: 20px;
    width: 9.5em;
	height: 40%;
	z-index: 900;
	vertical-align: bottom;
	pointer-events: none;
	display: inline-block;
    background-color: hsla(0, 0%, 100%, .8);
    display: none;
}

.legend {
	font-family: arial, sans-serif;
	color: #000;
	font-size: 15px;
	position: absolute;
	bottom: 0;
	height: 100%
}

.legend-header {
    position: relative;
    left: 30px;
}

.legend-inner {
	position: absolute;
	left: 30px;
	bottom: 20px;
	pointer-events: none;
	height: 78%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.legend-inner .gradient {
	opacity: 1;
	width: 20px;
	position: relative
}

.legend-inner .labels {
	width: 10em;
	position: relative
}

.legend-inner .labels .label {
	position: absolute;
	-webkit-transform: translateY(50%);
	transform: translateY(50%)
}

.legend-inner .labels .label:before {
	content: "\2013   "
}

#legend_PM10 .gradient {
	background: -webkit-linear-gradient(bottom, #00796b, #00796b 16%, #f9a825 32%, #e65100 48%, #dd2c00 72%, #dd2c00 80%, #8c0084);
	background: linear-gradient(0deg, #00796b 0, #00796b 16%, #f9a825 32%, #e65100 48%, #dd2c00 72%, #dd2c00 80%, #8c0084)
}

#legend_PM25 .gradient {
	background: -webkit-linear-gradient(bottom, #00796b, #00796b 8%, #f9a825 16%, #e65100 32%, #dd2c00 48%, #dd2c00 72%, #8c0084 80%);
	background: linear-gradient(0deg, #00796b 0, #00796A 8%, #f9a825 16%, #e65100 32%, #dd2c00 48%, #dd2c00 72%, #8c0084 80%);
}